.form-box { padding-top: 40px; }

.form-box {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px; 
  background: #fff;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

.form-box { padding-bottom: 20px; }

.form-box h3 { margin-top: 0; margin-bottom: 5px; text-transform: uppercase; }

.form-box fieldset div.form-input,
.form-box fieldset div.radio {
  padding-top: 10px;
}

.form-buttons {
  margin-top: 10px;
  text-align: right;
}

button.btn {
	min-width: 105px;
  height: 40px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  color: #fff;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
  text-shadow: none;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
  -moz-transition: all .3s; -webkit-transition: all .3s; transition: all .3s;
}

button.btn:hover { opacity: 0.6; color: #fff; }
button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
button.btn:focus,
button.btn:active:focus,
button.btn.active:focus { outline: 0; opacity: 0.6; color: #fff; }
button.btn.btn-prev { background-color: darkgrey; margin-right: 5px; }
button.btn.btn-next,
button.btn.btn-next:focus,
button.btn.btn-next:active:focus, button.btn.btn-next.active:focus { background: #03A9F4; }

@media (max-width: 767px) {
  .form-box{ margin-top: 0px; margin-bottom: 0px;}
}
