.file-label [type=file] {
  cursor: inherit;
  display: block;
  font-size: 1px;
  max-height: 1px;
  filter: alpha(opacity=0);
  opacity: 0;
  text-align: right;
}

.file-label {
  background-color: #03A9F4;
  max-width: 80%;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
  text-shadow: none;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
  -moz-transition: all .3s; -webkit-transition: all .3s; transition: all .3s;
}

.file-label:hover { opacity: 0.6; }

.inline{
  display: inline-block;
}
.inline + .inline{
  margin-left:20px;
}
.radio{
  color:#555;
  font-size:15px;
  position:relative;
}
.radio span{
  position:relative;
   padding-left:20px;
}
.radio span:after{
  content:'';
  width:15px;
  height:15px;
  border:1px solid;
  position:absolute;
  left:0;
  top:1px;
  -moz-border-radius:100%; -webkit-border-radius:100%; border-radius:100%;
  -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
  
}
.radio input[type="radio"]{
  cursor: pointer; 
  position:absolute;
  width:100%;
  height:100%;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
}
.radio input[type="radio"]:checked + span{
  color:#03A9F4;  
}
.radio input[type="radio"]:checked + span:before{
  content:'';
  width:5px;
  height:5px;
  position:absolute;
  background:#03A9F4;
  left:5px;
  top:6px;
  -moz-border-radius:100%; -webkit-border-radius:100%; border-radius:100%;
}
.radio input[type="radio"].input-error + span{
  color: #F44336;
}
.input-error, .input-error__control { border-color: #F44336 !important; }

option[value=""][disabled] {
  display: none;
}

.react-datepicker {
  font-size: 1.3rem !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.5rem !important;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__input-container > .form-control[readonly]{
  background-color: #fff !important;
}