body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  text-align: center;
  background-color: #9E9E9E;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
  color: #f35b3f;
  text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
  margin-top: 10px;
  font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}
    
h3 {
  font-size: 22px;
  font-weight: 300;
  color: #555;
  line-height: 30px;
}
    
h4 {
  font-size: 18px;
  font-weight: 300;
  color: #555;
  line-height: 26px;
}
    
img { max-width: 100%; }

::-moz-selection { background: #f35b3f; color: #fff; text-shadow: none; }
::selection { background: #f35b3f; color: #fff; text-shadow: none; }

@media (max-width: 767px) {
  body{background-color: #fff;}
}
