.form-steps { 
  overflow: hidden; 
  position: relative; 
  margin-top: 20px; 
}

.form-progress {
  position: absolute; 
  top: 24px; 
  left: 0; 
  width: 100%; 
  height: 1px; 
  background: #ddd; 

}
.form-progress-line { position: absolute; top: 0; left: 0; height: 1px; background: #03A9F4; }

.form-step { position: relative; float: left; width: 33.333333%; padding: 0 5px; }

.form-step-icon {
display: inline-block; width: 40px; height: 40px; margin-top: 4px; background: #ddd;
font-size: 16px; color: #fff; line-height: 40px;
-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.form-step.activated .form-step-icon {
background: #fff; border: 1px solid #03A9F4; color: #03A9F4; line-height: 38px;
}
.form-step.active .form-step-icon {
width: 48px; height: 48px; margin-top: 0; background: #03A9F4; font-size: 22px; line-height: 48px;
}

.form-step p { color: #ccc; }
.form-step.activated p { color: #03A9F4; }
.form-step.active p { color: #03A9F4; }